*{
  margin: 0;
  padding: 0;
}
/* header css-start */
.header{
  display: flex;
  font-size: 32px;
  align-items: center;
}
.button button{
  background-color: #FF401A;
  color: white;
  font-weight: 700;
}
/* header css-end */
/* event css-start */
.event{
  width: 60%;
}
/* event css-end */
/* news css-start */
.news{
  margin-bottom: 120px;
  margin-top: 100px;
}
/* news css-end */
/* client css-start */
.client{
  background-color: #FF481D;
  height: 500px;
  border-radius: 10px;
}
.content{
  margin-top: 130px;
}
/* client css-end */
/* header icon css-start */
.icon{
  margin-bottom: 200px
}
/* header icon css-end */